/* Empty. Add your own CSS if you like */
/* FONTS */
@font-face {
	font-family: 'Bebas';
	src: url('fonts/bebas.ttf');
	font-weight: normal;
}
h1,h4,p {font-family: 'Bebas', sans-serif;}

h1 { font-size: 6em;
	color:#3498db
  }

h4 {
	font-size: 1.5em;
}


/* PAGE CONTENT */

.content-class { 
	text-align: center;
	}

#budget-value{ color: #34495e; font-size: 3em;}

#input-div {display: inline-block;}

#input-budget {
	text-align: center;
	font-size: 2.5em;
	margin: 0 auto;
	border-bottom: 1px solid #1c1c1c;
}

input[type=number]{
	font-family: 'Bebas', sans-serif;
}

#bar {
    width: 90%;
    height: 3em;
    margin-bottom: 3em;
    margin-left: 2em;
}

#barname {
	color: #fff;
	font-size: 2em;
	float: left;
	margin-top: 0.7em;
}

#add-expense {
	border-radius: 50%;
	width: 4em;
	height: 4em;
	background-color: #3498db;
	position: fixed;
	bottom: 1%;
}
