/* Empty. Add your own CSS if you like */
/* FONTS */
@font-face {
	font-family: 'Bebas';
	src: url('fonts/bebas.ttf');
	font-weight: normal;
}
h1,h4,p {font-family: 'Bebas', sans-serif;}

h1 { font-size: 6em;
	color:#3498db
  }

h4 {
	font-size: 1.5em;
}



/* PAGE CONTENT */

.content-class { 
	text-align: center;
	background-color: #ecf0f1;
	}

#budget-value{ color: #34495e; font-size: 1em;}
.ion-edit{
	font-size: 0.5em;
	margin-left: 0.5em;
}
.ion-checkmark, .ion-close{
	font-size: 2em;
	color:#34495e;
	margin-left: 0.5em;
}

.ion-plus {
	display: inline-block;
	margin-top: 0.5em;
	color: #ecf0f1;
	font-size: 2em;
	margin-left: 0.6em;	
}

#input-div {display: inline;}

.input-container{
	padding-bottom: 1em;
			}

#input-budget {
	text-align: center;
	font-size: 2.5em;
	margin: 0 auto;
	width: 6em;
	border-bottom: 1px solid #1c1c1c;
	display: inline;
}

input[type=number]{
	font-family: 'Bebas', sans-serif;
	color: #34495e;
	background-color: #ecf0f1;
}

.select-style {
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #ccc;
    width: 4em;
    overflow: hidden;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.select-style select:focus {
    outline: none;
}

#bar {
    width: 90%;
    height: 3em;
    margin-bottom: 3em;
    margin-left: 2em;
}

#barname {
	color: #fff;
	font-size: 170%;
	float: left;
	margin-top: 0.7em;
}

#add-expense {
	border-radius: 50%;
	width: 4em;
	height: 4em;
	background-color: #3498db;
	position: fixed;
	bottom: 1%;
}
